body{
  font-family: "Plus Jakarta Sans", sans-serif !important;
display: flex;
flex-direction: column;
min-height: 100vh;
}

.container{
  flex: 1;
}
.navbar{
  height: 5rem;
  background-color: white;
}

.fa-plane{
  color: red;
  height: 2rem;
}

.nav-link{
  color: black !important;
 
}

/* footer style */
.f-info{
margin-top: 200px;
  display: flex;
  flex-wrap: wrap;
  height: 8rem;
  background-color: grey;
  justify-content: center;
  text-align: center;
}

.f-info a{
text-decoration: none;
color: black;
}

.f-info a:hover{
  text-decoration: underline;
  }

  .f-info-social, .f-info-links,.f-info-name{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
  }

  .f-info-social i{
    margin-right: 1rem;
font-size: 1.2rem;
  }

  /* card */
  .listing-card{
  border:none !important;
  margin-bottom: 2rem;
  }

  .card-img-top{
    border-radius: 1rem !important;
    height: 50vh;
    width: 100% !important;
    object-fit: cover !important;
  }s

  .card-body{
    padding: 0 !important;
  }

  .card-text p{
    font-weight: 400 !important;
  }

  .listing-link{
    text-decoration: none;
  }

  .card-img-overlay{
    opacity: 0;
  }

  .card-img-overlay:hover{
opacity: 0.2;
background-color: aliceblue;
  }
/* New Page */
  .add-btn{
    background-color: red !important;
    border: none !important;
  }

  /* edit page */
  .edit-btn{
    background-color: red !important;
    border: none !important;
  }

  /* show page */
  .btns{
    display: flex;
  }